.containerS{
    
    width: 1200px;
    height:782px;
    margin-top: 76px;
    margin-left: 863px;
    border-radius: 142px 142px 142px 142px;
    background-color:  rgba(217, 217, 217, 0.28);
    border:  4px solid #D9D9D947;
    display: flex;
    
    @media (min-width: 768px) {
        .containerS {
    width: 1200px;
    height: 920px;
    margin-top: 76px;
    margin-left: 663px;
          
}
}

}

.contaninerF{
 
    width: 1200px;
    height: 920px;
  
  
  
   

   
   
}

.SucursalImg{
    width: 428px;
    height: 428px;
    color: rgba(217, 217, 217, 0.28);
    display: block;
    margin-top: 16px;
    margin-left: 375px;


}



.containerS h2{
    padding-top: 15px;
    display: flex;
    color: rgba(225, 225, 225, 1);
    font-size: 40px;
    justify-content: center;

     
   }

