
.Content#1{
   
}
        
.user{
    width: 717px;
    height: 51px;
    top: 645px;
    left: 508px;
    border-radius: 20px;
    border: 6px;
    
}

.password{
    width: 717px;
    height: 51px;
    top: 645px;
    left: 508px;
    border-radius: 20px;
    border: 6px;
    
}