/* Estilo para el modal completo cuando muestra ProductosAéreos */
.modal-productos-aereos {
  max-width: 1200px !important;
  width: 90% !important;
}

/* Estilo específico para el cuerpo cuando muestra ProductosAéreos */
.cuerpo-modal-grande {
  min-height: 70vh;
  overflow-y: hidden;
  padding: 20px;

}

/* Estilos para el contenido del formulario */
.cuerpo-modal-grande .form-tipo-dre {
  min-width: 100%;
  padding: 10px;
}

/* productosAereos.css */
.modal-productos-aereos .modal-dialog {
  max-width: 900px; /* O el ancho que necesites */
  
  width: 80%;
}

.modal-productos-aereos .modal-content {
  min-height: 85vh;
}

/* Opcional: ajustar el cuerpo del modal */
.modal-productos-aereos .modal-body {
  max-height: 80vh;
  overflow-y: auto;
}