/* Estilo para el modal completo cuando muestra ProductosAéreos */
.modal-productos-aereos {
  max-width: 1200px !important;
  width: 90% !important;
}

/* Estilo específico para el cuerpo cuando muestra ProductosAéreos */
.cuerpo-modal-grande {
  min-height: 70vh;
  overflow-y: auto;
  padding: 20px;
}

/* Estilos para el contenido del formulario */
.cuerpo-modal-grande .form-tipo-dre {
  min-width: 100%;
  padding: 10px;
}