.containerOne{
    width: 1824px;
    height: 200px;
    display: flex;
    justify-content:space-around
  
    
}

.containerTwo {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 1170px;
  height: 210px;
  margin-top: -86px;
  background-color: rgba(224, 241, 255, 0.61);
  border-radius: 32px;
}



.containerTwo a {
  /* width: 96px;
  height: 100px; */
  margin-top: 180px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.containerOne a img {
  width: 50%;
  height: 50%;
 
}

.containerOne a span{
  width: 99px;
  height: 30px;
  font-size: 15px;
  margin-left: 0%;
 

}

.Desplegable{
width: 150px;
border-style: solid;
border-radius:30px

}


