
.table-container {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 100%; /* No exceder el ancho de la página */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    margin: 0 auto; /* Centra el contenedor */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }
.custom-table {
    width: 80%; /* La tabla ocupa el 100% del contenedor */
    min-width: 1000px; /* Ancho mínimo para evitar que se comprima demasiado */
    background-color: rgba(224, 241, 255, 0.61);
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Evita que el contenido se desborde */
  }