
.table-listados {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}


.custom-table {
  display: flex ;
  justify-content: center;
  border-radius: 0;
  border: none; 
  font-family: 'Arial', sans-serif;
}



/* Header de pestañas */
.table-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.table-tabs button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: #144097;
  color: #374151;
  border-bottom: 2px solid transparent;
}

.table-tabs button.active {
  background: #d4a72d;
  color: white;
  border-bottom: 2px solid #0d9488;
}

.table-tabs button:hover:not(.active) {
  background: #075fe2;
}

/* Título de la tabla */
.table-title {
  background: #2dd4bf;
  color: white;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

/* Estilos del header */
.listado-table .rdt_TableHead {
  font-weight: 600 !important;
  color: #3d0808 !important;
  font-size: 13px !important;
  display: flex;
  align-items: center;}

/* .rdt_TableHeadRow {
  background: #7dd3fc !important;
  border-bottom: 1px solid #0891b2 !important;
} */

.listado-table .rdt_TableCol {
  background: linear-gradient(5deg, rgb(69, 188, 187) 0%,rgb(69, 188, 187)25%,rgb(136, 200, 199) 50%,rgb(192, 224, 223)75%, rgb(219, 237, 237) 100%) !important;
   
  color: rgb(13, 13, 14) !important;
  font-weight: 600 !important;
  padding: 8px !important;
  border-right: 1px solid #6cb2c4 !important;
  border-radius: 20px;
  border: 2px solid #0e0f0f !important;
  
  /* Efecto hover para el degradado */
  transition: all 0.3s ease;
}


/*fondo de la tabla*/
.sc-FEMpB.jUdrYO.rdt_Table {
  width: 0%;
  
}

/*Titulos de la tabla*/
.listado-table .rdt_TableCol  {
 width: 100% !important; 
max-width: 1200px;     
   margin: 0 auto;  
}

.listado-table .rdt_TableCol:hover {
  
  transition: background-color 0.2s;
}

/* Estilos de las filas */
.listado-table .rdt_TableBody .rdt_TableRow {
  border-bottom: 2px solid #5b95eb !important;
  border-top: 2px solid #5b95eb !important;

}



/* Celdas */
.listado-table .rdt_TableCell {
  justify-content: center;
  border: 1px solid #0a0a0a !important;
  border-radius: 15px;
  background: linear-gradient(115deg,rgb(223, 228, 232) 0%,rgb(161, 177, 187) 25%,rgb(150, 170, 180) 50%,rgb(151, 170, 181) 75%, rgb(151, 170, 181) 100%) !important;

  font-size: 13px;

}






/* ===== MEDIA QUERIES PARA RESPONSIVIDAD ===== */

/* Móviles pequeños */
@media (max-width: 480px) { }

/* Móviles grandes */
@media (min-width: 481px) and (max-width: 768px) { }

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) { }

/* Laptops pequeñas */
@media (min-width: 1025px) and (max-width: 1366px) { }

/* Laptops grandes */
@media (min-width: 1367px) and (max-width: 1920px) { 
.table-listados {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 70px;
 
}
}

/* Monitores grandes */
@media (min-width: 1921px) { }